@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Welcome to the first iteration of the Keyboard Tacking App! This application is designed by keyboard enthusiasts, by keyboard enthusiasts. Please take time to explore and start tracking your projects!</p>
</div>

<div>
    <p class="text-center"><a class="main-button" asp-controller="KeyboardProjects" asp-action="Create">Create a New Project</a> <a class="main-button"asp-area="" asp-controller="KeyboardProjects" asp-action="Index"> View Current Projects</a></p>
    <p>Have an idea on how to improve the app? Contact us using any of the links below!</p>
    <p class="contact-info">Connect on LinkedIn: <a href="https://www.linkedin.com/in/jackson-trainer-48a49553/" title="Connect on LinkedIn" target="_blank">Jackson Trainer</a></p>
    <p class="contact-info">Email: <a href="mailto:jacksontrainer22@gmail.com">jacksontrainer22@gmail.com</a></p>
</div>
